<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebAppID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<session-config>
	<session-timeout>360</session-timeout>
	</session-config>
	<!-- 配置spring3.x的上下文配置文件.没有的话spring会报错 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<!-- spring3.x上下文监听器 START -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- spring3.x上下文监听器 END -->

	<!-- Struts2开始 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>  
        <filter-name>OpenSessionInViewFilter</filter-name>  
        <filter-class>  
            org.springframework.orm.hibernate4.support.OpenSessionInViewFilter  
        </filter-class>
        <init-param>  
             <param-name>sessionFactoryBeanName</param-name>  
             <param-value>sessionFactory</param-value>  
        </init-param>  
    </filter>
    <filter-mapping>  
         <filter-name>OpenSessionInViewFilter</filter-name>  
         <url-pattern>/*</url-pattern>  
     </filter-mapping>
	
	<!-- Struts2结束 -->
	<welcome-file-list>
		<welcome-file>IndexGetHomePage</welcome-file>
	</welcome-file-list>

</web-app>